.git
.DS_Store
.cache/
.local/
.terraform/
*.tfstate
*.tfstate.*
*.auto.tfvars
*.tfvars
*.tfvars.json
*.tfbackend
*.tfbackend.json
!*.example
.direnv
result
packages/minecraft-runtime-plugin/target/
packages/minecraft-runtime-plugin/.classpath
packages/minecraft-runtime-plugin/.factorypath
packages/minecraft-runtime-plugin/.project
packages/minecraft-runtime-plugin/.settings/
